@model ProductsListViewModel

<h4>Welcome to SportsStore</h4>
@foreach (Product product in Model?.Products ?? Enumerable.Empty<Product>())
{
    <div>
        <h3>@product.Name</h3>
        @product.Description
        <h4>@product.Price.ToString("c")</h4>
    </div>
}
<div page-model="@Model?.PagingInfo" page-action="Index"></div>